@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

#header {
  background-color: #fff;
}

#main-header {
  background-color: #253849;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

header nav ul {
  display: flex;
  gap: 12px;
  max-width: 24%;
  width: 100%;
}

header nav ul.secondary-nav {
  justify-content: flex-end;
  margin-right: 18px;
}
header nav ul li {
  margin: 0 12px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #009abf;
}

header nav ul li.bold-title a {
  font-weight: 700;
  text-transform: uppercase;
}

header nav ul li.meta-title a {
  color: #141414;
  font-size: 12px;
}

.neu-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
}

.neu-menu-item {
  margin-right: 12px;
  padding: 24px 18px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}

.neu-menu-item:hover {
  background-color: #fff;
}
.neu-menu-item:hover a {
  color: #141414;
}

.neu-menu-item a {
  color: #f5f5f5;
}

.neu-menu-item.logo {
  color: #141414;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.neu-menu-item.logo img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.menu-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.menu-images .avatar {
  width: 120px;
  height: 120px;
  margin: 12px;
}

.neu-menu-item:hover > #visible-section-university {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 1350px;
}

#visible-section-university {
  display: none;
  background-color: #f5f5f5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#visible-section-university .university-main-menu li:last-child {
  border: none;
}

#visible-section-university .university-main-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
}

#visible-section-university .university-main-menu li {
  padding: 18px 24px;
  border-bottom: 1px solid #e0e0e0;
  transition: 0.2s ease-in-out;
}

#visible-section-university .university-main-menu li:hover {
  border-left: 4px solid #141414;
  background-color: #f5f5f5;
}

#visible-section-university .university-sub-menu-container {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  flex: 2;
}

#visible-section-university
  .university-sub-menu-container
  .university-sub-menu-title {
  font-size: 12px;
  font-weight: 700;
  color: #141414;
  margin: 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #d6d6d6;
}

#visible-section-university
  .university-sub-menu-container
  .university-sub-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-transform: capitalize;
}
#visible-section-university
  .university-sub-menu-container
  .university-sub-menu
  a {
  color: #6e6e6e;
  display: flex;
  gap: 12px;
  transition: 0.2s ease-in-out all;
}

#visible-section-university
  .university-sub-menu-container
  .university-sub-menu
  a:hover {
  color: #141414;
}

.i-color-gray {
  color: #9c9c9c !important;
}
